.header {
  background-color: #1f2937;
  color: #fff;
  padding: 1rem;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: none;
}

@media (min-width: 640px) {
  .nav {
    display: block;
  }
}
